body {
  background: lightgreen;
}

header {
  text-align: center;
  color: black;
  font-size: 80px;
   }

nav {
  text-align: center;
  color: white;
  font-size: 40px;
  background-color: brown;
}

.nav ul {
  padding: 10px;
}

.nav li {
  display: inline;
  padding: 0px 10px 0px 10px;
}

.CartoonBirds {
  text-align: center;
}

.birdlist li {
  list-style-type: none;
  color: black;
  font-size: 20px;
  text-align: center;
}

.birdlist a {
  color: black;
}

.birdpicture {
  float: left;
}

p {
  font-size: 20px;
}

a {
  color: white;
   }

img {
  margin: 10px 10px 10px 10px;
  border: 7px solid grey;
  border-radius:20px;
   }

h1 {
  font-size: 70px;
  text-align: center;
}

h3 {
  font-size: 35px;
}
